body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: min(100%, 1440px);
  margin: auto;
}

/* background */

.img {
  height: 666px;
  background-image: url(../images/Rectangle\ 3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 140px;
}

section {
  display: flex;
  justify-content: space-between;
  gap:66px;
  padding: 40px;
  backdrop-filter: blur(10px);
  width: calc(580% / 7);
  height: 538px;
  border: 1px solid #b052b5c9;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------- form section -------- */



h1{
font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 40px;
letter-spacing: 4px;
vertical-align: middle;
color: #ffffff;
text-shadow: 2px 4px 4px #F90CEFB5;
text-align: center;
margin-bottom: 80px;
}

.inputsection{
  display: flex;
  column-gap: 24px;
  margin-bottom: 40px;
}

.textarea{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

#message{
  height: 112px;
  margin-bottom: 40px;
}

button{
  width: 520px;
  height: 64px;
}

#name,
#email{
  width: 248px;
  height: 48px;
}


::placeholder {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #9e8d9eb5;
}

#name,
#email,
textarea {
  border: 1px solid #b052b5;
  border-radius: 8px;
  background-color: transparent;

}

textarea {
  resize: none;
}

.lable {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #ffffff;
}

button {
  background-color: #f30aea;
  border-radius: 16px;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #ffffff;
  border: none;
}

address{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 72px;
  flex-wrap: wrap;
}

.address{
  display: flex;
  column-gap: 72px;
}

iframe{
  width: 494px;
  height: 338px;
  border-radius: 10px;
}

